[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/zhiquan911/filecoin-ffi
	branch = mzqdev-v1.13
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors.git
[submodule "extern/test-vectors"]
	path = extern/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
